<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Free Food India</title>
    <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
    <link rel="stylesheet" href="css/style.css">
    <link rel="icon" href="favicon/favicon.ico">
  </head>
  <body>

    <header>

      <nav class="navbar fixed-top navbar-expand-lg navbar-light bg">
        <div class="container">

          <i class="fas fa-utensils fa-3x home-icon-2"></i>
          <h1 class="tagname-2">Free Food India</h1>
          <!-- <a class="navbar-brand" href="index.html"><img class="leaf" src="images/leaf.png" alt="kid"></a> -->
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="btn btn-outline-danger btn-lg" style="color:#fff !important;margin-right:5px" href="/index" role="button">Home</a>
              </li>
              <li class="nav-item">
                <a class="btn btn-outline-danger btn-lg" style="color:#fff !important;margin-right:5px" href="/donatefood" role="button">Donate</a>
              </li>
              <li class="nav-item">
                <a class="btn btn-outline-danger btn-lg" style="color:#fff !important;margin-right:5px" href="/food" role="button">Take</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <div class="add-donate">
    <form action="/adddonatefood" method="post">
  <div class="form-row align-items-center">
    <div class="col-auto">
      <label class="sr-only" for="inlineFormInput">Name</label>
      <input type="text" class="form-control mb-2" name="newItem" autocomplete="off" id="inlineFormInput" placeholder="Add City Name">
    </div>
    <div class="col-auto">
      <button type="submit" class="btn btn-primary mb-2" name="button">Add</button>
    </div>
  </div>
</form>
</div>

<div class="container">
<div class="row">
  <% for(var i=0;i<newListItems.length;i++){ %>
    <div class="col-md-6">
      <form  action="/donate" method="post">
        <button class="donate-food" type="submit" name="button1">
          <p class="ejs-heading"> <%= kindOfDay %> </p><br>
          <h4><%=newListItems[i].name %></h4>
        </button>
      </form>
    <form action="/delete1" method="post">
      <button class="delete-food" type="submit" value="<%=newListItems[i]._id%>" name="button"><i class="fas fa-trash fa-lg delete-icon"></i></button>
    </form>
    </div>
<%  } %>

</div>
</div>

  </body>
</html>
