<%- include('partials/header') %>


<div class=" centered">
  <!-- <div class="container-fluid"> -->
    <img class="image-6" src="images/image-6-1-3.jpeg" alt="food">
    <i class="fas fa-utensils fa-3x home-icon"></i>
    <h1 class="tagname">Free Food India</h1>
    <h1 class="home-header">Donate Online and End Someone's Hunger Today.</h1>
    <a class="btn btn-danger btn-lg home-btn" style="color:#fff !important;margin-top:5%" href="/register" role="button">Register</a>
    <a class="btn btn-danger btn-lg home-btn" style="color:#fff !important;margin-top:5%;margin-left:150px" href="/login" role="button">Login</a>

  <!-- </div> -->
</div>

<%- include('partials/footer') %>
