<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Free Food India</title>
  <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
  <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
  <link rel="stylesheet" href="css/style.css">
  <link rel="icon" href="favicon/favicon.ico">
</head>

<body>


    <div class="container-fluid">
      <div class="startScreen">
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel" data-interval="2600">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="images/image-5-2.jpeg" class="image-5" alt="food">
              <i class="fas fa-utensils fa-3x home-icon"></i>
              <h1 class="tagname">Free Food India</h1>
              <a class="btn btn-outline-danger btn-lg start-btn" style="color:#fff !important;margin-right:425px" href="/index" role="button">Home</a>
              <a class="btn btn-outline-danger btn-lg start-btn" style="color:#fff !important;margin-right:320px" href="/donatefood" role="button">Donate</a>
              <a class="btn btn-outline-danger btn-lg start-btn" style="color:#fff !important;margin-right:240px" href="/food" role="button">Take</a>
              <a class="btn btn-outline-danger btn-lg start-btn" style="color:#fff !important;margin-right:125px" href="/logout" role="button">Log Out</a>
              <h1 class="start-header">Food is equal to God as told by our ancient scholars. This when translated to Sanskrit is “Annam Parabrahmaswaroopam.”</h1>
              <a class="btn btn-danger btn-lg start-bottom-btn" style="color:#fff !important" href="/donatefood" role="button">Donate Now</a>
              <a class="btn btn-danger btn-lg start-bottom-btn" style="color:#fff !important;margin-left:150px" href="/food" role="button">Take Now</a>
            </div>
            <div class="carousel-item">
              <img src="images/image-4-2.jpeg" class="image-4" alt="food">
              <i class="fas fa-utensils fa-3x home-icon"></i>
              <h1 class="tagname">Free Food India</h1>
              <a class="btn btn-outline-danger btn-lg start-btn" style="color:#fff !important;margin-right:425px" href="/index" role="button">Home</a>
              <a class="btn btn-outline-danger btn-lg start-btn" style="color:#fff !important;margin-right:320px" href="/donatefood" role="button">Donate</a>
              <a class="btn btn-outline-danger btn-lg start-btn" style="color:#fff !important;margin-right:240px" href="/food" role="button">Take</a>
              <a class="btn btn-outline-danger btn-lg start-btn" style="color:#fff !important;margin-right:125px" href="/logout" role="button">Log Out</a>
              <h1 class="start-header">Your donation shall stop this pandemic from turning into a food security crisis leading to a health crisis.</h1>
              <a class="btn btn-danger btn-lg start-bottom-btn" style="color:#fff !important" href="/donatefood" role="button">Donate Now</a>
              <a class="btn btn-danger btn-lg start-bottom-btn" style="color:#fff !important;margin-left:150px" href="/food" role="button">Take Now</a>
            </div>
            <div class="carousel-item">
              <img src="images/image-7-2.jpeg" class="image-7" alt="food">
              <i class="fas fa-utensils fa-3x home-icon"></i>
              <h1 class="tagname">Free Food India</h1>
              <a class="btn btn-outline-danger btn-lg start-btn" style="color:#fff !important;margin-right:425px" href="/index" role="button">Home</a>
              <a class="btn btn-outline-danger btn-lg start-btn" style="color:#fff !important;margin-right:320px" href="/donatefood" role="button">Donate</a>
              <a class="btn btn-outline-danger btn-lg start-btn" style="color:#fff !important;margin-right:240px" href="/food" role="button">Take</a>
              <a class="btn btn-outline-danger btn-lg start-btn" style="color:#fff !important;margin-right:125px" href="/logout" role="button">Log Out</a>
              <h1 class="start-header">Millions of our fellow beings die of hunger every day when millions of tons of food is thrown away or wasted or  discarded for no good reason at all.</h1>
              <a class="btn btn-danger btn-lg start-bottom-btn" style="color:#fff !important" href="/donatefood" role="button">Donate Now</a>
              <a class="btn btn-danger btn-lg start-bottom-btn" style="color:#fff !important;margin-left:150px" href="/food" role="button">Take Now</a>
            </div>
          </div>
        </div>
      </div>
    </div>


  <div class="secondScreen">
    <div class="container">
      <h1 class="secondScreenHeading">Food Storage</h1>
      <p>We just keep running to schools, offices and lastly to super speciality
        hospitals but we do not have a moment to brood about all the valuable trivialities
         of life whether it be good or bad. WHY ALL THIS? Because we lost respect of food
         and no longer treat it as precious, holy or divine as God is.</p><br>
      <div class="row">
        <div class="col-md-6">
          <form action="/donatefood" method="post">
          <button class="take" type="submit" name="button">
              <h2>Donate Food</h2>
          </button>
          </form>
        </div>
        <div class="col-md-6">
          <form action="/food" method="post">
          <button class="take" type="submit" name="button">
              <h2>Take Food</h2>
          </button>
          </form>
        </div>
      </div>

    </div>
  </div>
  <div class="thirdScreen">
    <div class="container">
      <div class="testimonials">
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel" data-interval="2000" data-pause="false">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <h2 class="testimonial-text">Appeal</h2><br>
              <p>Requesting your support to feed warm wholesome meals to vulnerable
             sections of the society, including those with pre-existing medical conditions,
             older adults, individuals experiencing homelessness, refugees and migrants,
             wage workers, those with inflexible jobs, and outstation students who depended
              on local roadside restaurants.</p>
              <img src="images/images1.jfif" class="testimonial-image" alt="food">
            </div>
            <div class="carousel-item">
              <h2 class="testimonial-text">Challenge on Hand</h2><br>
              <p>Social distancing is necessary to help limit the spread of the virus,
                 but for the economically weaker sections of society the food insecurity is a
                 much more serious issue than the disease itself as typically they cannot
                 afford to stock up on food supplies. In addition, malnutrition increases
                 vulnerability to disease.</p>
              <img src="images/images6.jfif" class="testimonial-image" alt="food">
            </div>
            <div class="carousel-item">
              <h2 class="testimonial-text">Solution</h2><br>
              <p>Your  help reduce the food insecurity during this outbreak. Healthy
                wholesome food with adequate nutrition on a daily basis reduces the health
                risk during this pandemic.</p>
              <img src="images/images8.jfif" class="testimonial-image" alt="food">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <footer>
    <div class="col-md-12">
      <a href="https://twitter.com/i_m_Hirendra">
      <div class="footerLink">
        <p>Twitter</p>
      </div>
      </a>
      <a href="https://facebook.com">
      <div class="footerLink">
        <p>Facebook</p>
      </div>
      </a>
    </div>
    <p class="footerPar">© 2020 Team Kakashi.All rights reserved.</p>
  </footer>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>

</html>
